@charset "utf-8";
/* CSS Document */
html body {
    direction: rtl;
}
.offset-md-3 {
    margin-right: 25%;
    margin-left: auto;
}
.has-icon-left .form-control-position {
    right: 0;
    left: auto;
}
.has-icon-left .form-control {
    padding-left: 1rem;
    padding-right: calc(2.75rem + 2px);
	direction: rtl;
}
@media (min-width: 576px){
	.text-sm-left {
  	  text-align: right!important;
	}
	.text-sm-right {
		text-align: left !important;
	}
}
